* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
}

button,
input {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

header {
  justify-content: space-between;
  padding: 20px;
  font-weight: 600;
}

.btn-search {
  padding-right: 20px;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.hero {
  max-width: 1100px;
}

.hero div {
  flex: 1;
}

.hero div h1 {
  font-size: 70px;
}

.hero div p {
  max-width: 380px;
  color: #777;
  padding: 6px 0;
}

.hero button {
  background-color: rgb(240, 149, 46);
  color: #fff;
  padding: 6px 10px;
  font-weight: 600;
  cursor: pointer;
}

nav .menu {
  gap: 15px;
  list-style: none;
}

section {
  max-width: 1100px;
  margin: 0 auto;
}

.product-list {
  padding: 30px 0;
}

.product-list .flex {
  gap: 20px;
}

.product-list .flex .product-link {
  flex: 1;
}

.product-list img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.product-card .category {
  color: #777;
}

.product-card .price {
  font-weight: 600;
}

.order-summary {
  max-width: 500px;
  width: 100%;
}

.order-summary button {
  background-color: #000;
  color: #fff;
  font-weight: 600;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
}

.title-contact,
.des-contact {
  text-align: center;
}

.contact-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.contact-form div {
  margin: 8px;
}

.contact-form input {
  width: 100%;
  padding: 8px 12px;
}

.contact-form label {
  width: 80px;
}

.contact-form textarea {
  width: 100%;
  height: 80px;
}

.contact-form button {
  margin: 0 auto;
  display: block;
  background-color: green;
  color: #fff;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 10px;
}

.div-footer {
  background-color: #000;
  justify-content: center;
  min-height: 250px;
  gap: 30px;
}

.item-footer a {
  color: #fff;
  padding: 2px;
}

.t-footer {
  font-weight: bold;
  margin-bottom: 10px;
}

.item-footer.flex {
  flex-direction: column;
  align-items: flex-start;
}

/*  */
.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-2 {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.flex-2 div {
  flex: 1;
}

.flex.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.flex.cart {
  flex-direction: column;
}

@media (max-width: 500px) {
  ;

  .menu {
    flex-direction: column;
  }

  .hero {
    flex-direction: column-reverse;
  }
}